h1{
    color: blue;    
}
a{
    color: red;
}
a:hover{
    color: blue;
}
h2{
    border-left: 5px solid red;
    border-bottom: 5px solid red;
}
p{
    text-indent: 40px;
}
li{
    line-height: 2;
}
.del-line{
    text-decoration: line-through;
}
img{
    border: 5px solid gray;
}